body, html{
  height:100%;
}

body{
  margin: 0px;
  max-height: 960px;
  max-width: 1440px;
  font-size: 18px;
  background-image: url('./img/warriors_court.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

span.dancer {
    -webkit-animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(360deg);}
    100% {-webkit-transform: rotate(0deg);}   
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.dancerLineupButton {
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
  width:100%;
}
.title{
  background-color: #777;
}

.dancer{
  width: 1;
  height: 1;
  position: absolute;
  display: block;
}

.expanding{
  border:100px solid blue;
  border-radius: 100px;
}
/*.lineup {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  height: 0px;
  width: 0px;
  align-content: space-between;
}*/